:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}
.text{
	width: auto;
}
header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 800;
	color: #DDA11D;
	margin-bottom: 1rem;
}
#filter-options * {
border-radius: 5px;
background-color: #F5FAFF;
margin: 0px 10px;
font-weight: 300;
justify-content: center;
text-align: center;
padding:2px 2px 2px 0px ;
color: black;
}
#filter-options *:hover{
	cursor: pointer;
}
#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}
.checkbox{
	background-color: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #888;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}
.checkbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: crimson;}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

#tasks,.task{
    display: flex;
    flex-direction: column;
    background-color: #808080;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 85%
}
.actions{
    right: 30px;
    top: 20px;
}
.task{
	display: flex;
	flex-direction: row;
}
.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 800;
	color: #F9F871;
	margin-bottom: 1rem;
}
.content{
	width: max-content;
	display: flex;
	flex-direction: row;
}
.content input[type=text] {
    width: fit-content;
	margin-left: 0.6rem;
}
.task-list p{
	width: 9rem;
	margin-top: 1rem;
	color:#6B7280;
	font-weight: 700;
}
#total-tasks{
	color:white;
	font-weight: 600;
}
#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
  
}

::-webkit-scrollbar {
	overflow-y: hidden;
}
  
.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}